*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1100px;
    margin: 200px auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.box{
    width: 20%;
    height: 300px;
    margin: 5px;

}

.box img{
    width: 100%;
}

.zzz{
    color: rgb(215, 93, 6);
}

.xxx{
    color: rgb(215, 93, 6);
}

.ccc{
    color: rgb(215, 93, 6);
}

.vvv{
    color: rgb(215, 93, 6);
}

.box p{
    margin: 15px 0;
}

.btn{
    padding: 12px 30px;
    background-color: rgb(219, 219, 219);
    border: 0px;
}